.Home {
  display: flex;
}

.Products {
  width: calc(100vw - 200px);
  margin-left: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}